/* Styles */

body{
    background-color: #231f20;
}

.titleBar{
    background-image: linear-gradient(#61259e, #ffe293);
}

#myHeader{
    font-family: 'Kaushan Script', cursive;
    font-size: 85px;
    color: #ffe200;
    text-align: center;
}

#skyLine{
    vertical-align: bottom;
    position:relative;
    max-width: 100%;
    height: auto;
}

#skyLine img{
    opacity: 0.3;
    max-width: 100%;
    height: auto;

}

#navBar{
    position: absolute;
    bottom: 5%;
    left: 5%;
    vertical-align: bottom;

}
#navBar a{
    display: inline-flex;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    color: #ffe200;
    padding-right: 50px;
    max-width: 100%;
    height: auto;

}

.content{
    background-color: #231f20;
    background-image: url(../img/ColumbusCrewLogo-3.jpg);
    background-repeat: no-repeat;
    background-size: 100vmax;
    display: inline-flex;
    column-count: 3;
}

.crewNews{
    padding-top: 40px;
    padding-left: 75px;
    padding-right: 40px;
}

.groupNews{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;

}

#twitterFeed{
    width: 450px;
    padding-top: 40px;
}

/* Page Two Style Begins */

.songs{
    display: inline-flex;
    margin: 5px;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    color: #ffe200;
}

#songTitle{
    text-decoration: underline;
    font-size: 35px;
    margin: 3px;
}

